/* Global */
body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    z-index: 42;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul .menu {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul .menu li a {
    display: block;
    padding: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #5B5B5B;
}

nav ul .menu li a:hover {
    border-top: 2px solid #5CADD3;
}

/* Index */
.indexContainer {
    margin-top: 7.5%;
}

.indexContainer img {
    width: 100%;
    position: absolute;
    z-index: -42;
}

.indexContainer .imageText {
    margin-top: 7.5%;
    margin-left: 7.5%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.indexContainer .imageText h1 {
    margin-top: 25%;
    color: white;
    font-family: 'Roboto Bold', sans-serif;
    padding: 5px;
}

.indexContainer .imageText #blue {
    color: #5CADD3;
}

.indexContainer .imageText p {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

.indexContainer .imageText * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.indexContainer .imageText .buttonContainer button {
    padding: 10px;
    background-color: #5CADD3;
    border-color: #5CADD3;
    border-radius: 3px;
    box-shadow: -1px 3px 1px #4494BB;
}

.indexContainer .imageText .buttonContainer button a {
    color: white;
    font-size: 17px;
    font-family: 'Roboto Bold', sans-serif;
}

/* Nos Services */
#Services {
    margin-top: 15%;
}

.nosServices {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosServices h1 {
    font-size: 35px;
    font-family: 'Roboto Bold', sans-serif;
}

.nosServices p {
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #75797D;
}

.nosServicesContainer {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.nosServicesContainer .box {
    width: 50%;
    display: flex;
}

.nosServicesContainer .box .icones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nosServicesContainer .box .textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nosServicesContainer .box .icones span {
    padding: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
}

.nosServicesContainer .box .icones span::after {
    content: '';
    width: 0;
    position: absolute;
    margin-left: 11px;
    margin-top: 10px;
    border: 5px solid #5EABD3;
    border-radius: 50%;
}

.nosServicesContainer .box .icones span i {
    color: #5DACD3;
    font-size: 30px;
}

.nosServicesContainer .box .textBox .text {
    margin-left: 5%;
}

.nosServicesContainer .box .textBox .text h2 {
    font-family: 'Roboto Bold', sans-serif;
    margin-bottom: 5px;
}

.nosServicesContainer .box .textBox .text p {
    color: #75797D;
    font-family: 'Roboto', sans-serif;
}
